<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Main</h5>
    <div class="gf-form">
      <label class="gf-form-label width-9">Draw mode</label>
      <span class="max-width-10">
        <select class="input-small gf-form-input" ng-model="ctrl.panel.mode" ng-options="t for t in ['color', 'solid', 'bar']" ng-change="ctrl.render()"></select>
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Max data points</label>
      <span class="max-width-12">
        <input type="text" class="input-medium gf-form-input max-width-5" ng-model="ctrl.panel.maxDataPoints" placeholder="auto" empty-to-null ng-change="ctrl.refresh()" ng-model-onblur>
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Candlestick width</label>
      <span class="max-width-12">
        <select class="input-small gf-form-input" ng-model="ctrl.panel.widthMode" ng-options="t for t in ['auto', 'static']" ng-change="ctrl.render()"></select>
      </span>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.widthMode === 'static'">
      <label class="gf-form-label width-8 offset-width-1">Static width</label>
      <span class="max-width-12">
        <select class="input-small gf-form-input" ng-model="ctrl.panel.candlestickWidth" ng-options="t for t in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 40, 50]" ng-change="ctrl.render()"></select>
      </span>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Colors</h5>
    <div class="gf-form" ng-if="ctrl.panel.mode === 'color'">
      <label class="gf-form-label width-9">Bullish</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.bullColor" ng-change="ctrl.render()"></spectrum-picker>
      </span>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.mode === 'color'">
      <label class="gf-form-label width-9">Doji</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.dojiColor" ng-change="ctrl.render()"></spectrum-picker>
      </span>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.mode === 'color'">
      <label class="gf-form-label width-9">Bearish</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.bearColor" ng-change="ctrl.render()"></spectrum-picker>
      </span>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.mode === 'solid'">
      <label class="gf-form-label width-9">Solid</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.solidColor" ng-change="ctrl.render()"></spectrum-picker>
      </span>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.mode === 'bar'">
      <label class="gf-form-label width-9">Bar</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.barColor" ng-change="ctrl.render()"></spectrum-picker>
      </span>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Y-Axes</h5>
    <gf-form-switch class="gf-form" label="Swap" label-class="width-9" checked="ctrl.panel.swapYaxes" on-change="ctrl.render()"></gf-form-switch>
    <div class="gf-form">
      <label class="gf-form-label width-9">Price label</label>
      <span class="max-width-12">
        <input type="text" class="input-medium gf-form-input max-width-5" ng-model="ctrl.panel.labelY1" placeholder="none" empty-to-null ng-change="ctrl.render()" ng-model-onblur>
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Other label</label>
      <span class="max-width-12">
        <input type="text" class="input-medium gf-form-input max-width-5" ng-model="ctrl.panel.labelY2" placeholder="none" empty-to-null ng-change="ctrl.render()" ng-model-onblur>
      </span>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Hover tooltip</h5>
    <gf-form-switch class="gf-form" label="Colorize" label-class="width-9" checked="ctrl.panel.colorizeTooltip" on-change="ctrl.render()" ng-if="ctrl.panel.mode === 'color'"></gf-form-switch>
    <gf-form-switch class="gf-form" label="Transparent" label-class="width-9" checked="ctrl.panel.transparentTooltip" on-change="ctrl.render()"></gf-form-switch>
    <div class="gf-form">
      <label class="gf-form-label width-9">Date/Time Format</label>
      <span class="max-width-12">
        <input type="text" class="input-medium gf-form-input max-width-12" ng-model="ctrl.panel.tooltipFormat" ng-change="ctrl.render()" ng-model-onblur>
      </span>
    </div>
  </div>
</div>
